* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* header */
.header {
  padding: 50px;
  text-align: center;
  background: #ffd700;
  color: black;
}

/* velikost h1 */
.header h1 {
  font-size: 40px;
}

/*  container */
.row {
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  font-family: "Calibri Light";

}
form input {
  margin-bottom: 0.9rem;
}
/* vlevo */
.side {
  flex: 25%;
  background-color: #f1f1f1;
  padding: 40px;

}
/* vpravo */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
  line-height: 1.5;

}
#vaha{
  width: 200px;
  height: 40px;
}

/* Responsive layout  */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
/* patička  */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  font-size: 9px;
  color: #778899;
  font-family: "Calibri Light";
}

button {
  color: white;
  padding: 12px 20px;
  border: none;
  background-color: #bdb76b;
  font-family: "Calibri Light";

}
